* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    /* height: 400px; */
    /* flex-direction: column; */
    /* flex-direction: column; untuk membuat kotak menjadi tersusun atas ke bawah */
    /* flex-direction: row-reverse; untuk mengubah nilai posisi kotak */
    /* untuk memperlebar tinggi container */
    display: flex;
    background-color: aquamarine;
    /* justify-content: end; */
    /* justify-content: end; untuk menggeser kotak dikanan */
    /* align-items: start; */
    /* align-items: end; untuk menggeser kotak di bawah */


    /* flex-wrap: wrap; */
    /* memnuat kotak feksibel menyesuaikan dengan layar broser */
}



.item {
    flex: 1;
    /* flex-basis: 300px; */
    /* flex-grow: 1; */
    /* flex-grow: 1; akan menyesuaikan ukuran layar broser pada saat di ubah*/
    /* width: 100px; */
    height: 100px;
    background: blue;
    color: antiquewhite;
    margin: 10px;
    /* float: left; */

    display: flex;
    justify-content: center;
    /* membuat tulisan didalam kotak jadi ditengah */
    align-items: center;
    /* membuat tulisan didalam kotak jadi dititik pusat*/
}

.item:nth-last-of-type(3) {
    /* flex-shrink: 1; */
    /* flex-grow: 2; */

    /* align-self: center; */
    /* order: 2; */
    /* order: 2; akan mengubah posisi urutan kotak yang diinginkan */
}

.item:nth-last-of-type(2) {
    /* flex-shrink: 2; */
    /* flex-grow: 1; */
    /* flex-basis: 200px; */
    /* untuk memanjangkan kotak sesuai yang diinginkan syarat harus mengisi nilai parent(parent{flex-basis: 100px; dan nth-last-type{flex-basis: 200px;}) */

}

.item:nth-last-of-type(1) {
    /* flex-shrink: 3; */
    /* flex-grow: 3; */
    /*flex-grow: 3; untuk memberi nilai besar pada 1 kotak 
   nilai yang berbeda pada setiap kotak akan diberikan ukuran yang berbeda pula di setiap kotak  */


}