* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; untuk membuat kotak menjadi tersusun atas ke bawah */
    /* flex-direction: row-reverse; untuk mengubah nilai posisi kotak */
    /* untuk memperlebar tinggi container */
    display: flex;
    background-color: aquamarine;
    justify-content: end;
    /* justify-content: end; untuk menggeser kotak dikanan */
    align-items: start;
    /* align-items: end; untuk menggeser kotak di bawah */
}

.item:nth-last-of-type(3) {
    /* align-self: center; */
}

.item:nth-last-of-type(2) {
    /* align-self: start; */
}

.item:nth-last-of-type(1) {
    /* align-self: end; */
}



.item {
    width: 50px;
    height: 50px;
    background: blue;
    color: antiquewhite;
    margin: 10px;
    float: left;
}