* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    /* height: 400px; */
    /* flex-direction: column; */
    /* flex-direction: column; untuk membuat kotak menjadi tersusun atas ke bawah */
    /* flex-direction: row-reverse; untuk mengubah nilai posisi kotak */
    /* untuk memperlebar tinggi container */
    display: flex;
    background-color: aquamarine;
    /* justify-content: end; */
    /* justify-content: end; untuk menggeser kotak dikanan */
    /* align-items: start; */
    /* align-items: end; untuk menggeser kotak di bawah */


    flex-wrap: wrap;
    /* memnuat kotak feksibel menyesuaikan dengan layar broser */
}



.item {
    width: 100px;
    height: 100px;
    background: blue;
    color: antiquewhite;
    margin: 10px;
    float: left;

    display: flex;
    justify-content: center;
    /* membuat tulisan didalam kotak jadi ditengah */
    align-items: center;
    /* membuat tulisan didalam kotak jadi dititik pusat*/
}

.item:nth-last-of-type(3) {
    /* align-self: center; */
}

.item:nth-last-of-type(2) {
    /* align-self: start; */
}

.item:nth-last-of-type(1) {
    /* align-self: end; */

}